{% extends 'base.html' %}
<style>
    
</style>
{% block content %}
<h2>Customer Dashboard</h2>


<p>Welcome, {{ request.user.first_name }}</p>

<hr>

<a href="{% url 'change_password' %}">Change Password</a> |
<a href="{% url 'logout' %}">Logout</a>
<script>
let slides = document.querySelectorAll('.slide');
let index = 0;

function showSlide(i){
    slides.forEach(s => s.classList.remove('active'));
    slides[i].classList.add('active');
}

function moveSlide(step){
    index = (index + step + slides.length) % slides.length;
    showSlide(index);
}

setInterval(() => {
    moveSlide(1);
}, 5000);
</script>
{% endblock %}
